* {
  box-sizing: border-box;
}

body {
  background-color: rgba(100, 180, 180, 0.4);
  height: 100vh;
}

h1 {
  padding: 5px;
  font-style: italic;
  text-align: center;
}

.user-form {
  width: 100px;
	height: 100px;

	position: absolute;
	top:0;
	bottom: 60%;
	left: 0;
	right: 0;
	margin: auto;
  text-align: center;
}

#search-user-btn {
  text-align: center;
  position: inherit;
}

.add-climb-btn {
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  text-align: center;
}

.unticked-table {
  position: relative;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  text-align: center
}

.ticked-table {
  position: relative;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  text-align: center
}

.table {
  border: 1;
}

#ticked-header {
  position: relative;
  text-align: left;
  font-weight: bold;
}
#unticked-header {
  position: relative;
  text-align: left;
}

#new-climb-form {
  position: absolute;
  text-align: center;
}

#climb-header {
  display: none;
}

#new-climb-container {
  display: none;
}
#edit-climb-container {
  display: none;
}
#user-form-submit {
  display: none;
}
#add-climb {
  display: none;
}

.row-hide {
  display: none;
}
